.ItemCard {
  display: grid;
  border: 1px solid black;
  background-color: rgb(243, 241, 241);
  padding-left: 15px;
  box-shadow: 5px 5px rgb(185, 167, 167);
}

.ItemCard__pic img {
  width: 100px;
}

.ItemCard__info {

  margin: 10px;
}
.ItemCard__info ul {

  padding-inline-start: 0;
}
.ItemCard__info li {
  list-style-type: none;
}
