.App {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    border: 5px dotted green;

        /* grid-template-columns: repeat(3,1fr); */

}